@import "../../../../shared/styles/variables.scss";

.lang-list-root {
  margin: 0 30px;

  header {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    @media (width >= $medium-devices) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
