@import "../../../../shared/styles/form.scss";

.import-component {
  margin: 2rem 0;
  .form {
    @extend %form-body;
    width: 50%;
    .btn-upload {
      text-transform: none !important;
    }
  }
}
