@import "../../../../shared/styles/form.scss";
@import "../../../../shared/styles/variables.scss";

.theme-form {
  .form {
    @extend %form-body;
    position: relative;
    .input-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .icon-input {
      min-width: 80%;
    }
    .langs {
      width: 100%;
      .lang-label {
        justify-content: space-between;
        margin: 1rem 0;
      }
      .lang-input {
        min-width: 80%;
      }
    }

    @media (width >= $medium-devices) {
      max-width: 60%;
    }
  }
}
