@import "../../../../styles/variables.scss";

.sidebar-item {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 70px;
  width: 70%;
  justify-content: space-between;
  padding-inline: 2rem;
  box-shadow: $container-s-bs;
  border-radius: 15px;
  transition: all 0.8s ease-in-out;
  //   transition: all 0.3s ease-in-out;
  cursor: pointer;

  a {
    // display: flex;
    width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    transition: width 0.4s ease-in-out;
    border-radius: 15px;
    content: "";
    display: block;
    z-index: -10;
    position: absolute;
    height: 70px;
    // width: 100%;
    width: 0%;
    left: 0;
    background-image: linear-gradient(
      90deg,
      #fff 0%,
      #4cd63aaf 77%,
      $primary 100%
    );
  }
  &:hover::before {
    width: 100%;
  }
}
