#package-list-root {
  padding-inline: 5%;
  .loader {
    min-height: 200px;
  }
  .filter-content {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    .left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .radios {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  .lang-select {
    min-width: 10rem;
  }
}
