@import "./variables.scss";
@import "./form.scss";

.import-root {
  .info {
    width: fit-content;
    border: 2px dashed $accent;
    padding: 10px;
    margin-bottom: 2rem;
  }
  .data-table {
    width: fit-content;
    margin: auto;
    max-width: 90%;
    thead {
      background-color: rgba($secondary, 40%);
    }
    .error {
      background-color: rgba($danger, 70%);
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    @media (width >= $medium-devices) {
      width: 60%;
    }
  }
}

.import-component {
  margin: 2rem 0;
  .form {
    @extend %form-body;
    width: 50%;
    .btn-upload {
      text-transform: none !important;
    }
  }
}
