@import "../../../../shared/styles/form.scss";
@import "../../../../shared/styles/variables.scss";

.question-form {
  .form {
    // @extend %form-body;
    h3 {
      margin: 0;
    }
  }
  .media-input {
    margin: 20px 0;
    &_actions {
      display: flex;
      justify-content: flex-start;
    }
  }
  .right {
    margin: 1rem 0;
  }
}
