.theme-tab {
  width: fit-content;
  max-width: 100%;
  margin: auto;
  .actions {
    display: flex;
    justify-content: space-between;
  }
  .theme-langs {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
  .content-cell {
    height: fit-content;
  }
}
