@import "../../../../shared/styles/form.scss";
@import "../../../../shared/styles/variables.scss";

.package-form {
  .form {
    @extend %form-body;
    .btn-upload {
      width: 30%;
      .css-1d6wzja-MuiButton-startIcon {
        margin: 0;
      }
    }
    @media (width >= $medium-devices) {
      max-width: 50% !important;
    }
  }
  .preview-img {
    width: 50% !important;
    margin: 1rem 0;
    img {
      width: 100%;
    }
  }
}
