@import "./shared/styles/variables.scss";

body {
  font-family: "Roboto";
  font-weight: 400;
}

// color
body {
  background-color: $background;
}

/* 16px */
html {
  font-size: 100%;
}

small {
  font-size: 0.75rem;
  /* 12px */
}

button {
  text-transform: none !important;
}
.text-center {
  text-align: center;
}
.text-danger {
  color: $danger !important;
}
.text-success {
  color: $primary !important;
}

.content {
  margin-top: 40px;
  margin-left: 130px;
  min-height: 70vh;
}

.inline-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

// startIcon
.css-1d6wzja-MuiButton-startIcon {
  margin: 0 !important;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 6px;
}
